* {
    padding: 0;
    margin: 0;
    font-family:Helvetica;
    box-sizing: border-box;
 }

 body {
   background-image: url("../img/plano_fundo.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh; /* Define a altura como 100% da altura visível da tela */
   margin: 0; /* Remove margens */
   padding: 0; /* Remove preenchimentos */
   font-family: Helvetica;
   box-sizing: border-box;
}



 button {
   background-color: #FDFDFD;
   color: #102F5e;
   border: 2px solid #102F5e;
   padding: .3rem .6rem;
   font-size: 1rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s;

}
button:hover {
  
 
}


button i {
   color: #102F5e;
   font-weight: bold;
   pointer-events: none;
 
}
input {
   padding: 0.25rem 0.5rem;
   margin-right: 0.3rem;
   background: none;
   border: none;
   outline: none;
   max-width: 190px;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 9999px;
   box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
select {
   padding: 0.25rem 0.5rem;
   margin-right: 0.3rem;
   background: none;
   border: none;
   outline: none;
   max-width: 190px;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 9999px;
   box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
   color: #CCC;
   
}

.hide {
 display: none;
 
}

/* TO-DO HEADER */
.todo-container {
   /* max-width: 450px;
   margin: 3rem auto ;
   background-color: #FDFDFD;
   padding: 1.5rem;
   border-radius: 15px; */

   max-width: 450px;
   margin: 3rem auto ;
   border-radius: 30px;
   max-height: 600px;
   padding: 1.5rem;
   background: #212121;
   box-shadow: 15px 15px 30px rgb(25, 25, 25),
               -15px -15px 30px rgb(60, 60, 60);
  }
   

.todo-container header {
   text-align: center;
   padding: 0.1rem 1rem;
   border-bottom: 1px solid #CCC;

}
/* Todo FORM */
#todo-form, #edit-form {
   padding: 1rem;
   border-bottom: 1px solid #CCC;
}
#todo-form p, 
#edit-form p{
   margin-bottom: 0.5rem;
   font-weight: bold;
   color: white;
}
.form-control {
   display: flex;
}
.form-control input{
   margin-right: 0.3rem;
   background: none;
   border: none;
   outline: none;
   max-width: 190px;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 9999px;
   box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
   color: #fff;

}
#cancel-edit-btn{
   margin-top: 1rem;
   

}
h1,h2,h3,h4{
   color: white;
   

}
/* Todo toolbar */
#toolbar {
   padding: 1rem;
   border-bottom: 1px solid #CCC;
   display: flex;
}
#toolbar h4 {
   margin-bottom: .5rem;
}
#search{
   border-right: 1px solid #DDD;
   padding-right: 1rem;
   margin-right: 1rem;
   width: 65%;
   display: flex;
   flex-direction: column;
}
#search form{
   display: flex;
}
#search input{
   width: 100%;
   margin-right: 0.3rem;
   
}
#filter{
   width: 35%;
   display: flex;
   flex-direction: column;
}
#filter select{
   flex: 1;
}
/* Todo List */
 .todo{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1rem;
   border-bottom: 1px solid #ddd;
   transition: .3s;
}
.todo h3{
   flex: 1;
   font-size: 0.9rem;

}


.done{
   background-color: #395169;
}
.done h3{
   color: #FFF;
   text-decoration: line-through;
   font-style: italic;
}
